@import url('https://fonts.cdnfonts.com/css/survivor');

body {
font-family: sans-serif;
background-color: #FCF5E5;
color: brown;
}

h1 {
  font-family: 'SURVIVOR', sans-serif;
}


.incorrect {
    border: 2px solid red;
  }

table, th, td {
  border: 1px solid;
  width:50%;
  font-size: 8px;
  padding: .25em;
}
